




body{

    font-family: "Poppins", sans-serif;
    margin: 0px;


}.link-button{


    text-decoration: none;
    background-image: linear-gradient( orange,tomato);

    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    
    
}
.love{
display: flex;
margin-bottom: ;

}
.half-width{
    width: 100%;
    text-align: center;
    padding-left:5% ;
    padding-right:5% ;
    font-size: % ;
}
.half-width img{
    width: 500px;
    padding-left: ;
    padding-right: ;
    padding-top: 10px;
    border-radius:5px ;
    height:500px ;




}
.t{
    font-size: 200%;
}
.h{
    color: chartreuse;

    font-size:200%;

}
h1{
    font-size: 350%;
}
.e{
    font-size: 150%;
}

.k{
    display: flex;
    margin-left: 30px;
    
}
.kk{
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    

}
.kk img{
    width: 400px;
    height: 400px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 15px;
    
}
.ll{
    background-image:url(images/shapes/7.png);
    
    background-repeat: no-repeat;
    background-position: right;
    
    

}

    
 .n{
    margin-bottom: 20%;
    margin-top: 10%;
    font-size: 127%;
    
 }

 .md{
    text-align: center;
    font-size:170%;
    margin-top: ;
    margin-left: ;
    margin-right: ;
    margin-bottom: ;
    padding-right: 15%;
 
    padding-left: 15%;
 }

 .flexible-container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    
    
 }
 .experience-item{
    box-shadow:10px 10px 30px gray;
    width:550px;
    margin-left: 2%;
    margin-right:2 %;
    padding: 35px;
    border-radius: 20px;
    height: 560px;
 }
 .box{
    width: 100%;
    height:100 %;
 }

 #font{
    font-size: 120%;
 }
 h3{
    font-size: 170%;
 }
 
footer{
    text-align: center;
    background-color: black;
    color: azure;
    width: 100%;
    height: 200px;
    
}


.p{
    padding-top:2px;

}
    h5{
        font-size:200% ;
    }
    .color{
        color: maroon;
    }

    .style{
        display: flex;
       
        text-align: center;
        padding-left: 250px;
        padding-bottom: 100px;
        padding-top: 100px;
        padding-right: 250px 
        
     }
     
    .c{
        text-align: ;
        padding-left: 250px;
        padding-right: 250px;
        
    }
    .s{
        font-size: 270%;
    }
